<ion-header>
  <ion-toolbar color="secondary" class="ion-padding-horizontal">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pasajeros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-label>¿Donde Vamos?</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-list *ngFor="let item of coleccion; let i = index" >
    <ion-item *ngIf="item.available" class="animate__animated animate__lightSpeedInRight" (click)="onClick(i)">
      <ion-avatar slot="start">
        <ion-img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.vecteezy.com%2Ffoto%2F3620025-perro-con-sonrisa-rara-y-lentes-oscuros&psig=AOvVaw0JDH39wHupmwRO21e6yk9j&ust=1665809241567000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCID4yJL13voCFQAAAAAdAAAAABAE"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.direction}}</p>
        <p>${{item.price}}</p>
        <p>{{item.seats}} Asientos</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
