<ion-header>
  <app-header [name]='name'></app-header>
</ion-header>
 <ion-content>
  <ion-text  color="primary">
    <h1 class="animate__animated animate__jackInTheBox">Awesome text</h1>
  </ion-text>
  <ion-row class="ion-justify-content-center">
  <ion-button class="animate__animated animate__backInDown" routerLink="/ride" expand="block"  shape="round">
    Pasajero
  </ion-button>
  <ion-button class="animate__animated animate__backInUp center"  routerLink="/ride" expand="block"  shape="round">
    Conductor
  </ion-button>
</ion-row>
 </ion-content>

