<ion-header>
<app-header></app-header>
</ion-header>

<ion-content>

  <ion-grid style="padding-top: 50%;">
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-center" color="primary">
          <h1 class="animate__animated animate__bounce">Son $3000</h1> 
          <!-- cambiar a variable de lista despues -->
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="parent-row">
      <ion-col size="12">
        <ion-button (click)="presentAlert()" color="success" class="animate__animated animate__backInDown" routerLink="/home" expand="block" shape="round">
          Aceptar viaje
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button class="animate__animated animate__backInUp" color="danger" routerLink="/ride" expand="block" shape="round">
          Cancelar viaje
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
