<ion-toolbar color="secondary" class="ion-padding-horizontal">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-icon  slot="icon-only" name="person-circle"></ion-icon>
  </ion-buttons>
  <ion-title class="animate__animated animate__jackInTheBox" class="ion-text-center">Tu perfil</ion-title>
</ion-toolbar>
<ion-content>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h1 class="ion-text-center">Modificacion de datos</h1>
        </ion-text>        
      </ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-img class="animate__animated animate__bounceIn" style="border: 3px solid black; border-radius: 10%;"
          src="/assets/img/conductor.png"></ion-img>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
  </ion-grid>

  <form class="ion-padding" [formGroup]="ionicForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="fixed">Usuario</ion-label>
      <ion-input [disabled]="true" value="{{user.userName}}" formControlName="userName" type="text" placeholder="Usuario" required clearInput></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userName.errors?.required">
      Nombre de usuario requerido
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.userName.errors?.maxlength">
      Nombre de usuario no puede exceder los 20 caracteres
    </span>

    <ion-item>
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input value="{{user.name}}" formControlName="name" type="text" placeholder="Nombre" required clearInput></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      Nombre requerido
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.maxlength">
      Nombre no puede exceder los 20 caracteres
    </span>

    <ion-item>
      <ion-label position="fixed">Apellido</ion-label>
      <ion-input value="{{user.lastName}}" formControlName="lastName" type="text" placeholder="Apellido" required clearInput></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastName.errors?.required">
      Apellido requerido
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.lastName.errors?.maxlength">
      Apellido no puede exceder los 20 caracteres
    </span>

    <ion-item>
      <ion-label position="fixed">Contraseña</ion-label>
      <ion-input value="{{user.password}}" formControlName="password" type="password" placeholder="Contraseña" required clearInput></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
      Contraseña requerida
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.maxlength">
      Contraseña no puede exceder los 20 caracteres
    </span>

    <ion-item>
      <ion-label position="fixed">Rut</ion-label>
      <ion-input value="{{user.rut}}" formControlName="rut" type="text" placeholder="Rut" required clearInput></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rut.errors?.required">
      Rut requerido
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rut.errors?.minlength">
      Rut invalido no suficientes caracteres
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.rut.errors?.maxlength">
      Rut invalido excede el limite
    </span>

    <ion-item>
      <ion-label position="fixed">Numero celular</ion-label>
      <ion-input value="{{user.number}}" formControlName="number" type="text" placeholder="Numero celular" required clearInput></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.number.errors?.required">
      Numero celular requerido
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.number.errors?.maxlength">
      Numero celular no valido
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.number.errors?.minlength">
      Numero celular no valido
    </span>

    <ion-item>
      <ion-select placeholder="Elija Pregunta">
        <ion-select-option value="ciudad">¿Ciudad de nacimiento?</ion-select-option>
        <ion-select-option value="animal">¿Animal Favorito?</ion-select-option>
        <ion-select-option value="comida">¿Comida Favorita?</ion-select-option>
      </ion-select>
      <ion-input value="{{user.pregunta}}" formControlName="pregunta" type="text" placeholder="¿Animal Favorito?" required clearInput></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pregunta.errors?.required">
      Respuesta requerida
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pregunta.errors?.maxlength">
      Su respuesta no puede exceder los 20 caracteres
    </span>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" type="submit" fill="outline">Modificar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>