<ion-header>
<app-header></app-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>¿Donde Vamos?</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-img style="padding-top:5%" src="/assets/img/mapa.jpg"></ion-img>
  <ion-grid style="padding-top: 20%;">
    <ion-row class="parent-row">
      <ion-col size="12">
        <ion-button (click)="presentAlert()" color="success" class="animate__animated animate__backInDown" routerLink="/home" expand="block" shape="round">
          Programar viaje
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button class="animate__animated animate__backInUp" color="danger" routerLink="/home" expand="block" shape="round">
          Cancelar viaje
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>